
<html>

    <head>

        <title>
            {% block title %}
            {% endblock %}
        </title>
    </head>

    <body>

        <header>

            {%  if app.session.flashBag.has('success') %}

            {% else %}

            {% endif %}

        </header>
        <div>

            <div>

                <div class="show_user_details">

                </div>

                <div class="default-cotnainer">

                    <div id="buttons_menu">

                        {% block personal_details %}

                            <div id="image">
                                <img src="{#{{ path(user.image) }}#}" width="50" height="100px" />
                            </div>

                            <div>
                                <dl>
                                    <dt>Name</dt>
                                    <dd> {{ user.name }} </dd>
                                    <dt>Surname</dt>
                                    <dd>{{  user.surname }}</dd>
                                    <dt> Department </dt>
                                    <dd> {{ user.department }}</dd>
                                    <dt> Email </dt>
                                    <dd> {{ user.email }} </dd>
                                    <dt> Phone Number</dt>
                                    <dd> {{ user.mobphone }}</dd>
                                </dl>

                            </div>


                        {% endblock  %}

                    </div>

                    <div class="container buttons">

                        {% block buttons_group %}

                        {% endblock %}
                    </div>

                    <div id="table_with_lists">

                        {% block table_show %}

                        {% endblock %}

                    </div>

                </div>


            </div>


        </div>


    </body>

</html>