{% extends "@User/root/homepage.html.twig" %}

{% block title %}
    Welcome {{ user.name }} !!
{% endblock %}



{% block personal_details %}
    <div id="image">
        <img src="{#{{ path(user.image) }}#}" width="50" height="100px" />
    </div>

    <div>
        <dl>

            <dt>Name</dt>
            <dd> {{ user.name }} </dd>
            <dt>Surname</dt>
            <dd>{{  user.surname }}</dd>
            <dt> Academic Year </dt>
            <dd> {{ user.academicYear }}</dd>
            <dt> Email </dt>
            <dd> {{ user.email }} </dd>

        </dl>

    </div>

{% endblock  %}


{% block table_show %}

    <p> The list of the lost Items </p>
    <div>
        <label><span>Search:</span> <input type="search" /></label>
    </div>

    <div id="table_list">
        <table class="table table-hover">
            <thead>
            <tr>
                <th> Type </th>
                <th> Description </th>
                <th> Lost Place </th>
                <th> Date </th>
                <th> Found </th>
                <th> Delivered </th>
                <th></th>
            </tr>
            </thead>
            {% if cnt == 0 %}
                <p> You have no lost objects</p>
            {% else %}
                {% for list in lostObject %}
                    <tr>
                        <td> <a href=" {{ path('show_detailed_submition',{ 'id': list.id }) }}"> {{ list.type }} </a> </td>
                        <td> <a href=" {{ path('show_detailed_submition',{ 'id': list.id }) }}">{{ list.description }}</a> </td>
                        <td> {{ list.lostPlace }} </td>
                        <td> {{ list.lostDate|date("y/m/d h:i:s") }} </td>
                        <td>
                            {% if list.isFound %}
                                <a href="{{ path('isFound_lost_object',{'id': list.id }) }}"> No </a>
                            {% else %}
                                <a href="{{ path('isFound_lost_object',{ 'id': list.id }) }}"> Yes </a>
                            {% endif %}
                        </td>

                        <td>
                            {% if list.delivered %}
                                <a href="{{ path('is_lost_object_delivered',{'id': list.id }) }}"> No</a>
                            {% else %}
                                <a href=" {{ path('is_lost_object_delivered',{'id': list.id }) }} "> Yes </a>
                            {% endif %}

                        </td>


                    </tr>

                {% endfor %}

            {% endif %}

        </table>
    </div>
{% endblock %}


